*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(15, 133, 230) ;
    width: 100%;
    height: 200px;
    padding: 10px;
}

.logo{
    height: 50px;
}

/*header{
    background-color: rgb(15, 133, 230) ;
    background-image: url('pattern.png');
    background-size:  cover;
    background-repeat: repeat;
}

.container-logo{
    height:  100px;
}*/

.text-grey{
    color: grey;
}

.text-lightblue{
    color: lightblue;
}