header{
    background-color: rgb(15, 133, 230) ;
    background-image: url('pattern.png');
    height:  50px
}

.logo{
    height:  50px
}

.text-grey{
    color: grey;
}

.text-lightblue{
    color: lightblue;
}